<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!--设置mybatis日志使用log4j-->
        <setting name="logImpl" value="LOG4J2"/>
        <!-- 开启驼峰命名 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <plugins>
        <!--分页插件-->
        <plugin interceptor="com.github.pagehelper.PageHelper">

        </plugin>
    </plugins>
</configuration>